grant {
  //permission java.lang.RuntimePermission "getClassLoader";
  permission java.net.SocketPermission "*", "connect";
  //permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
};
